.div-main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

.title-item-detail {
    font-size: 25px;
    padding-bottom: .4em;
}

img {
    width: 35rem;
}

.img-padding {
    padding-right: 3rem;
}

h4 {
    font-size: 3rem;
    align-self: center;
}

.p-itemdetail {
    width: 200px;
    font-size: 1.22rem;
    padding-bottom: .4em;
}

.button-ready {
    width: 50%;
    padding: 12px;
    font-size: 12px;
    background: grey;
    border-radius: 8px;
    flex: none;
    display: flex;
    order: 1;
    align-self: center;
    flex-grow: 0;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #FFFFFF;
    border: none;
    border-style: none;
    cursor: pointer;
    outline: inherit;
}